<link rel="stylesheet" href="@App.Path/assets/style.css" />
@{
    var entries = ((IEnumerable<dynamic>)AsDynamic(Data["Default"]));
    var firstLetters = ((IEnumerable<dynamic>)AsDynamic(Data["Default"])).Select(l => l.Title.Substring(0, 1).ToUpper()).Distinct().OrderBy(l => l);
    var detailPage = App.Settings.DetailPage;
}

<div class="ly-maxwrapper-white">
    <div class="container-fluid">
        <div class="ly-container-inner">
            <div class="sc-element">
                <div class="app-glossary ly-maxwrapper-white">
                    @Edit.Toolbar(Content)
                    <div class="app-glossary-letterlist">
                        <ul>
                            @foreach(string l in firstLetters) {
                                <li>
                                    <a href="#@l">@l</a>
                                </li>
                            }
                        </ul>
                    </div>
                
                    <div class="app-glossary-entries">

                        @foreach (var l in firstLetters)
                        {
                            <span id="@l">@l</span>
                            foreach (var e in entries.Where(p => p.Title.Substring(0, 1) == l))
                            {
                                <div class="sc-element">
                                    <strong>@e.Title</strong>
                                    <p>@e.Summary</p>
                                    @Edit.Toolbar(e)
                                    @{
                                        var link = detailPage + "/key/" + e.UrlKey;
                                    }
                                    <a href="@link">mehr erfahren</a>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

