@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;

@{
  // Get some helper commands for later on
  var helpers = CreateInstance("../shared/Helpers.cs");
  var term = AsList(Data).FirstOrDefault();
  @* Show term not found notification and stop processing *@
  if(term == null) {
    <h1>@Resources.TermNotFoundTitle</h1>
    <p>@Resources.TermNotFoundText</p>
    <a href="@Tags.SafeUrl(Link.To())" class="btn btn-primary btn-sm">
      @Resources.GoBackText
    </a>
    helpers.SetNotFoundHttpHeaders();
    return;
  }
  helpers.SetMetaDescAndTitle(term);
}

<div @Edit.TagToolbar(term, toolbar: "-layout")>
  <h1>@(Text.Has(term.Abbreviation) ? term.Abbreviation + " – " : "")@term.Title</h1>
  <p>
    <strong>@term.Summary</strong>
  </p>
  <p>@Html.Raw(term.Details)</p>
  <a href='@Tags.SafeUrl(Link.To(parameters: "#" + term.Title.Substring(0, 1)))' class="btn btn-primary btn-sm">
    @Resources.GoBackText
  </a>
</div>

@Html.Partial("./_Glossary.PartAssets.cshtml")